

.navbar,
.main-container{
    background-color: #1B396A;
    width:100vw;
    font-size: 10;
}


.dropdown-item {
    transition: background-color .5s;
  }

  .dropdown-item:hover {
    background-color: #1c6ea8;
    color: #014f86;
    font-size: 10;
  }



  li{
    font-size: 1.3rem;

}

nav{
    background-color: #1B396A;
    font-size: 8;
}

.dropdown-menu,
.dropdown-item{
    background-color: #1B396A;
    font-size: 8;
}

a {
    transition: background-color .5s;
    font-size: 75%;
  }

  a:hover {
    background-color: #1c6ea8;
    font-size: 75%;
  }
