

.navbar,
.main-container{
    background-color: #014f86;
    width:100vw;
}

.dropdown-menu,
.dropdown-item{
    background-color: #014f86;
}

.dropdown-item {
    transition: background-color .5s;
  }
  
  .dropdown-item:hover {
    background-color: #1c6ea8;
    color: #014f86;
  }

  a{
    transition: background-color .5s;
    font-size: 1.6rem;
    text-decoration: none;
   
    
  }
  
  a:hover {
    background-color: #1c6ea8;
    color: #014f86;
  }




