

.slide,
.item{
    width: 90vw;
    height: 60vh;
}

img{
   width: 70vw !important ;
   height: 70vh !important ;
}

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}


.carousel-inner{
    height: 50vh;
    width: 70vw;
}