<!-- Team -->
<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1">Nucleo Academico</h5>
    <div class="row">
      
      <!-- Team member JOSE MARTIN BARAJAS-->
      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Jose Martin Barajas</h4>
                  <p class="card-text">
                    Maestría <br />
                    Tiempo Completo <br />
                    Ingeniería de Software
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jose Martin Barajas</h4>
                  <p class="card-text">
                    José Martín Barajas Guerrero nacio en Zacatecas, Zac. 13 de
                    Julio de 1971. Ingeniero en Sistemas Computacionales por el
                    Instituto Tecnológico de Zacatecas, Zacatecas, Zac. México,
                    1992. Especialidad en computación por la Universidad
                    Autónoma de Zacatecas, Zacatecas, Zac. México, 1993. Maestro
                    en Ciencias de Ingeniería Administrativa por el Instituto
                    Tecnológico de Celaya, Celaya, Gto. México, 2008. Jefe del
                    Departamento de servicios Escolares en el Instituto
                    Tecnológico de Zacatecas. Analista y Programador de varios
                    Sistemas de Información en la Secretaria de Educación del
                    Estado de Zacatecas, Zacatecas, México. Líder de proyecto en
                    el desarrollo del Sistema Integral de Información
                    Administrativa y Financiera (SIIAF) dentro de la Universidad
                    Autónoma de Zacatecas, Zacatecas, Zac., Mexico. Docente y
                    jefe de laboratorio de cómputo, en el Instituto Tecnológico
                    de Zacatecas, Zacatecas, México. Áreas de Investigación
                    Ingeniería de Software, Desarrollo de Software, Cómputo en
                    la nube.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member JAIME IVAN LOPEZ VEYNA-->
      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Jaime Ivan Lopez Veyna</h4>
                  <p class="card-text">
                    Doctorado <br />
                    Tiempo Completo <br />
                    Ingeniería de Software
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Jaime Ivan Lopez Veyna</h4>
                  <p class="card-text">
                    Obtuvo una licenciatura en Sistemas Computacionales en el
                    Instituto Tecnológico de Zacatecas (México) en 1997. En 2001
                    recibió el grado de Maestro en Ciencias Computacionales por
                    el Instituto Tecnológico de Toluca (México) y el Doctorado
                    en Ciencias de la Computación por el Laboratorio de
                    Tecnologías de la Información del Centro de Investigación y
                    Estudios Avanzados del Instituto Politécnico Nacional
                    (México) en 2014. De 2015 a 2017 realizó una estancia
                    postdoctoral como investigador en Barcelona, en el Centro de
                    Investigación Barcelona Supercomputing Center - Centro
                    Nacional de Súper cómputo en el Departamento de Ciencias de
                    la Computación en el grupo de almacenamiento de datos con el
                    proyecto Dataclay. Sus lineas de investigación incluyen,
                    Machine Learning, Big, Data, Chatbots, y Procesamiento de
                    Datos a gran escala.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->

      <!-- Team member ELSA ORTEGA AVILA-->
      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Elsa Ortega Avila</h4>
                  <p class="card-text">
                    Doctorado <br>
                    Tiempo Completo <br>
                    Ingeniería de Software
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Elsa Ortega Avila</h4>
                  <p class="card-text">
                    Elsa Ortega de Ávila nació en Villanueva, Zac el 18 de octubre de 1973. Ingeniero en Sistemas Computacionales por el Instituto Tecnológico de Zacatecas, México en enero de 1996.
                    Maestra en Ingeniería con orientación en Computación por la Universidad Autónoma de Zacatecas en 2007.
                    Doctora en Ciencias de la educación por la Universidad autónoma de Coahuila en el año de 2014.
                    Es docente del Instituto Tecnológico de Zacatecas en las Licenciaturas en Ingeniería en Sistemas e Informática y en Maestría de Ingeniería en Sistemas, con varias materias enfocadas a las matemáticas y a la Metodología de la Investigación.
                    Docente de la Unid en varias licenciaturas con la materia de Metodología de la Investigación.
                    Docente de la Secundaria Técnica no. 70. Como maestra de Computación.
                    Áreas de investigación: Educación, deserción escolar, desarrollo de objetos de Aprendizaje (ODA) e ingeniería de software
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->


      <!-- Team member ADRINA AGUILAR CALDERA-->
      <div class="col-xs-5 col-sm-5 col-md-5">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Adrian Aguilar Caldera</h4>
                  <p class="card-text">                          
                      Maestría <br>
                      Tiempo Completo <br>
                      Ingeniería de Software
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Adrian Aguilar Caldera</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
      <!-- Team member -->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="backside">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4 class="card-title">Sunlimetech</h4>
                  <p class="card-text">
                    This is basic card with image on top, title, description and
                    button.This is basic card with image on top, title,
                    description and button.This is basic card with image on top,
                    title, description and button.
                  </p>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-skype"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        class="social-icon text-xs-center"
                        target="_blank"
                        href="#"
                      >
                        <i class="fa fa-google"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ./Team member -->
    </div>
  </div>
</section>
<!-- Team -->
