button,
.accordion-button{
    background-color: #1B396A;
    transition: background-color .5s;

}

button:hover{
    background-color: #1c6ea8;;
}

p,
button{
    font-size: 1.3rem;
}

img{
    width: 40vw;
    height: 75vh;
    border-radius: 3px solid black;
}

.accordion-body{
    border: solid 0.2rem #1B396A;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items:initial;
}
