.acordiones{
    background-color: #1B396A;
    color: whitesmoke;
    width: 50vw;


}

.main-container{
    width: 50vw;
    margin: 1rem;


}

.accordion-item{
    width: 50vw;

}

.material-icons{
    margin-right:1rem;
}

button,
.accordion-button{
    background-color: #014f86;
    transition: background-color .5s;

}

button:hover{
    background-color: #1c6ea8;;
}
