button,
.accordion-button{
    background-color: #014f86; 
    transition: background-color .5s;

}

button:hover{
    background-color: #1c6ea8;;
} 

p,
button{
    font-size: 1.6rem;
}

.accordion-body{
    border: solid 0.2rem #014f86;
}
