button,
.accordion-button{
    background-color: #1B396A;
    transition: background-color .5s;

}

button:hover{
    background-color: #1B396A;;
}

p,
button{
    font-size: 1.1rem;
}

.accordion-body{
    border: solid 0.2rem #1B396A;
}
