<section id="team" class="pb-5">
  <div class="container">
    <h5 class="section-title h1 text-center"><br>Tercera Generación<h3>2020-2022<br></h3></h5>
    <div class="row">

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Del Río Varela Leydi Diana</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    Elsa Ortega de Ávila<br /><br></a>
                    Tema de Tesis: Desarrollo de un módulo web progresivo para el sistema SIPLC<br><br>
                    Director de tesis: Elsa Ortega de Ávila<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">González Carlos Aldo</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    Mariana Ortiz García<br /><br></a>
                    Tema de Tesis: Desarrollar sistema web para registrar el histórico de cultivos en parcelas en la comunidad de Colonia Hidalgo de Ojuelos, Fresnillo, Zacatecas<br><br>
                    Director de tesis: Mariana Ortiz García<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Jasso Hernández Víctor Manuel</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    Edgar Esaúl Saucedo Becerra<br /><br></a>
                    Tema de Tesis: Sistema web progresivo para la administración de historial clínico universal<br><br>
                    Director de tesis: Edgar Esaúl Saucedo Becerra<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Lozano Lozano Francisco Servando</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    Andrés Salas Núñez<br /><br></a>
                    Tema de Tesis: Sistema web de vinculación a personas físicas y morales en actos de corrupción<br><br>
                    Director de tesis: Andrés Salas Núñez<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Sánchez Gutiérrez Edson Alejandro</h4>
                  <p class="card-text">
                    Tutor:<a href="nucleo-academico">
                    Luis Eduardo Torres Hernández<br /><br></a>
                    Tema de Tesis: Detección y alerta de consumo de alcohol por medio de conducta de manejo para la prevención de accidentes automovilísticos<br><br>
                    Director de tesis: Luis Eduardo Torres Hernández<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Viramontes Rodríguez Luis Alfonso</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    Alfredo García Castañón<br /><br></a>
                    Tema de Tesis: Implementar un sistema web de firma electrónica de documentos mediante criptografía asimétrica<br><br>
                    Director de tesis: Alfredo García Castañón<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">Zúñiga Monsiváis Roberto Iván</h4>
                  <p class="card-text">
                    Tutor:<a href="nucleo-academico">
                    José Gabriel Navarro Favela<br /><br></a>
                    Tema de Tesis: Web Service de Gestión Documental Gubernamental<br><br>
                    Director de tesis: José Gabriel Navarro Favela<br>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-0 col-sm-6 col-sm-4">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
            <div class="frontside">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png"
                      alt="card image"
                    />
                  </p>
                  <h4 class="card-title">De León Ortega Erick Jonathan</h4>
                  <p class="card-text">
                    Tutor: <a href="nucleo-academico">
                    José Martin Barajas Guerrero<br /></a>
                  </p>
                  <a href="#" class="btn btn-primary btn-sm"
                    ><i class="fa fa-plus"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
