
button,
.accordion-button{
    background-color: #1B396A;
    transition: background-color .5s;

  }



  button:hover {
    background-color: #336385;
  }

  p,
button{
    font-size: 1.3rem;
}



.accordion-body{
  border: solid 0.2rem #1B396A;
}

.img-container{
  border: solid 0.2rem #fff;
  display: flex;
  justify-content: center;
  align-items: initial;
}

img{
  width: 45vw;
  height: 60vh;
}
